/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}

html {
background-image: url(../img/backgroundImage.jpeg);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
